@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@1,100;1,500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   position: relative;
}
a{
    text-align: center;
    justify-content: center;
    text-decoration: 0;
}
.btn_add{
    width: fit-content;
    margin-bottom: 20px;
    background-color: #5e7;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: 0;
   text-decoration: 0;
    border-radius: 6px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    color: #404040;
}
th{
  font-size: 16px;
  border-bottom: 3px solid #3c3c3c;
  padding: 5px 20px;
  font-weight: 500;
  color: #5e7;
}
h2{
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}
td{
    font-weight: 400;
    padding: 5px 30px;
    text-align: center;
}
tr:nth-child(2n){
    background-color: #f6f8F8;
}
tr:nth-child(2n) td{
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}
/* form css */
.popup{
    text-align: center;
    justify-content:center ;
    border-radius: 6px; 
    display: none;
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f6f8F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
}
.form{
    text-align: center;
    justify-content:center ;
    border-radius: 6px; 

    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f6f8F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
}
.popup form{
    background-color: #f6f8F8;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 345px;
    border-radius: 6px;
    text-align: center;
    justify-content:center ;
   
}
.form form{
    background-color: #f6f8F8;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 345px;
    border-radius: 6px;
    text-align: center;
    justify-content:center ;
   
}
.popup .back-btn{
    width: fit-content;
    margin-bottom: 20px;
    background-color: #5e7;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: 0;
    cursor: pointer;
   text-decoration: 0;
    border-radius: 6px;
}
.form .back-btn{
    width: fit-content;
    margin-bottom: 20px;
    background-color: #5e7;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: 0;
    cursor: pointer;
   text-decoration: 0;
    border-radius: 6px;
}
.erreur{
    color: red;
}
label{
    margin-top: 5px;
    text-transform: uppercase;
}
input{
    padding: 5px;
    border: 2px solid #999;
    outline: 0;
    margin-top: 2px;
    border-radius: 6px;
}
input:focus{
   
    border: 2px solid #5e7;
   
}
input[type='submit']{
    margin-top: 25px; 
    background-color: #5e7;
    border: 2px solid #5e7;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}
